* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  background: #f5f5dc;
  border-radius: 0px 0px 0px 0px;
}

.classContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.classContainer .left {
  flex: 1;
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.classContainer .left h1 {
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 30px;
  color: #9E2A2B;
  text-align: left;
  margin-bottom: 20px;
}

.classContainer .left h1 img {
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 23px;
}

.classContainer .left .typeList {
  height: 100%;
  padding: 15px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
}

.classContainer .left .typeList .type {
  height: 47px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 18px;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}

.classContainer .left .typeList .type span {
  display: block;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  background: #E5E7EB;
  border-radius: 42px 42px 42px 42px;
}

.classContainer .left .typeList .type.active {
  background: #EAEEE9;
  color: #8B5A2B;
  border-radius: 8px 8px 8px 8px;
}

.classContainer .left .typeList .type.active span {
  background: #2D5D2A;
  color: #ffffff;
}

.classContainer .right {
  width: 794px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
}

.classContainer .right .itemBox {
  height: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
  padding: 18px;
  margin-bottom: 20px;
}

.classContainer .right .itemBox .item {
  height: 360px;
  position: relative;
  background: #FFFFF8;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);
}

.classContainer .right .itemBox .item img {
  width: 100%;
  height: 210px;
}

.classContainer .right .itemBox .item h1 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 20px;
  color: #3E2723;
  margin: 0 10px;
}

.classContainer .right .itemBox .item .act {
  position: absolute;
  padding: 5px 10px;
  background: #2D5D2A;
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 400;
  font-size: 11px;
  color: #FFFFFF;
  text-align: center;
  top: 8px;
  left: 7px;
}

.classContainer .right .itemBox .item p {
  margin: 5px 10px;
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: #AAAAAA;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classContainer .right .itemBox .item p span {
  display: inline-block;
  background: #F5F5DC;
  border-radius: 3px 3px 3px 3px;
  padding: 5px 10px;
  margin-right: 5px;
}

.classContainer .right .itemBox .item .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.classContainer .right .itemBox .item .link img {
  width: 10px;
  height: 12px;
  margin-right: 5px;
}

.classContainer .right .itemBox .item .link h2 {
  font-weight: 500;
  font-size: 13px;
  color: #555555;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #777777;
}

.classContainer .right .itemBox .item .link a {
  text-decoration: none;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 14px;
  color: #8B5A2B;
  margin-top: 10px;
}

.classContainer .right .page :deep(.el-pagination) {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.classContainer .right .page :deep(.el-pagination) .btn-prev,
.classContainer .right .page :deep(.el-pagination) .btn-next {
  background-color: #f5f5f5;
  border-radius: 4px;
  min-width: 35px;
  height: 35px;
}

.classContainer .right .page :deep(.el-pagination) .el-pager li {
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0 5px;
}

.classContainer .right .page :deep(.el-pagination) .el-pager li.is-active {
  background-color: #8B5A2B;
  color: #fff;
  border-radius: 4px;
}

.classContainer .right .page :deep(.el-pagination) .el-pager li:hover {
  color: #8B5A2B;
}

.classContainer .right .page :deep(.el-pagination) .el-pagination__jump {
  color: #606266;
  background-color: #f6e5c1;
  padding: 0 12px;
  margin-left: 10px;
}

.title-section {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: HYCuSong, HYCuSong;
  font-weight: bolder;
  margin-bottom: 20px;
}

.title-section h1 {
  font-family: HycuSong, HYCuSong;
  font-size: 50px;
  color: #966338;
}

.title-section h3 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 18px;
  color: #9C5D22;
  margin-top: 10px;
}

.topicContainer {
  width: 1200px;
  margin: 0 auto;
}

.topicContainer .title {
  height: 70px;
  display: flex;
  align-items: center;
}

.topicContainer .title .item {
  flex: 1;
  height: 100%;
  line-height: 70px;
  text-align: center;
  background: #FFC792;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 18px;
  color: #9C5D22;
  cursor: pointer;
}

.topicContainer .title .item.active {
  background: #8B5A2B;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
  color: #ffffff;
}

.topicContainer .content {
  height: 563px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
  padding: 20px;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.topicContainer .content h2 {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 20px;
  color: #8B5A2B;
  margin-bottom: 10px;
}

.topicContainer .content .material {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.topicContainer .content ul {
  list-style: none;
}

.topicContainer .content ul li {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  line-height: 21px;
  margin-bottom: 16px
}

.topicContainer .content .material div {
  height: 65px;
  background: #F0F7DA;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  padding: 10px 10px;
}

.topicContainer .content .material div h3 {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #5F7B0A;
}

.topicContainer .content .material div p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 12px;
  color: #9CAA6F;
}

.topicContainer .content ol {
  margin: 15px 20px;
}

.topicContainer .content ol li {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  line-height: 18px;
  padding: 10px 0;
}

.topicContainer .content p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  margin-bottom: 15px;
}

h1.bottom {
  width: 1200px;
  margin: 30px auto;
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 30px;
  color: #9E2A2B;
  text-align: center;
}

.evaluate {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.evaluate .item {
  flex: 1;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
}

.evaluate .item .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.evaluate .item .title .info {
  flex: 1;
}

.evaluate .item .title .info h2 {
  margin-top: 5px;
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 16px;
  color: #8B5A2B;
}

.evaluate .item .title .time {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 11px;
  color: #555555;
}

.evaluate .item p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 13px;
  color: #555555;
  margin-top: 16px;
}

.share {
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
}

.share .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 40px;
  color: #9E2A2B;
}

.share .right {
  flex: 1;
  padding: 30px 80px 30px 30px;
  height: 264px;
  position: relative;
}

.share .right div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 5px;
}

.share .right div h2 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 16px;
  color: #3E2723;
  display: flex;
  align-items: center;
  gap: 5px;
}

.share .right textarea {
  width: 100%;
  height: 160px;
  padding: 10px;
  border: 1px solid #9C5D22;
  border-radius: 5px;
  resize: none;
}

.share .right button {
  position: absolute;
  right: 121px;
  bottom: 38px;
  width: 66px;
  height: 34px;
  background: #F5F5DC;
  border-radius: 3px 3px 3px 3px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #555555;
  cursor: pointer;
  border: none;
}

.page .el-pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.page .el-pagination .btn-prev,
.page .el-pagination .btn-next {
  background-color: #f5f5f5;
  border-radius: 4px;
  min-width: 35px;
  height: 35px;
}

.page .el-pagination .el-pager li {
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  border-radius: 4px;
  margin: 0 5px;
}

.page .el-pagination .el-pager li.is-active {
  background-color: #8B5A2B;
  color: #fff;
  border-radius: 4px;
}

.page .el-pagination .el-pager li:hover {
  color: #8B5A2B;
}

.page .el-pagination .el-pagination__jump {
  color: #606266;
  background-color: rgba(246, 229, 193, 1);
  padding: 0 12px;
  margin-left: 10px;
}