.banner {
    width: 100%;
    height: 440px;
    background-image: url('../img/TiBanner1.png');
    background-size: 100% 100%;
    position: relative;
}

.banner img {
    width: 100%;
    height: 350px;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


@font-face {
    font-family: 'HYCuSong-J';
    src: url('../font/HYCuSong.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.banner .text1 {
    font-size: 70px;
    font-family: 'HYCuSong-J';
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 114px;
}

.banner .text2 {
    width: 925px;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'HYCuSong-J';
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 32px;
}