.formContainer {
  margin: 0 auto;
  margin-top: 20px;
  width: 1200px;
  height: 532px;
  background: #FFFFFF;
  box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.19);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  margin-bottom: 30px;
}
.formContainer .left {
  width: 50%;
  height: 100%;
  background-color: #8b4513;
  border-radius: 20px 0px 0px 20px;
  padding-left: 26px;
  padding-top: 38px;
}
.formContainer .left h4 {
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 28px;
}
.formContainer .left p {
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.formContainer .left > p {
  margin-bottom: 20px;
}
.formContainer .left > div {
  display: flex;
  margin-bottom: 20px;
}
.formContainer .left > div .img {
  width: 38px;
  height: 38px;
  margin-right: 5px;
}
.formContainer .left > div span {
  font-size: 16px;
  color: #ffffff;
}
.formContainer form {
  width: 50%;
  background: #F5F5DC;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 1px 1px rgba(3, 3, 3, 0.1);
  border-radius: 5px;
  padding: 24px;
}
.formContainer form .input_box {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
.formContainer form .input_box .flexBox {
  flex: 1;
}
.formContainer form label {
  display: inline-block;
  width: 260px;
  font-family: Microsoft YaHei, Microsoft YaHei;
  font-weight: 400;
  font-size: 12px;
  color: #4E596E;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.formContainer form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  padding-left: 10px;
}
.formContainer form .textarea {
  border: 1px solid #E5E5E5;
}
.formContainer form #type {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formContainer form #requext {
  padding: 20px;
  width: 560px;
  height: 80px;
  margin-top: 10px;
}
.formContainer form #agree {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
.formContainer form #agree span {
  color: #165DFF;
}
.formContainer form #submit {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  height: 40px;
  background: #8B4513;
  color: #ffffff;
  cursor: pointer;
}
