.banner {
    width: 100%;
    height: 440px;
    background-image: url('../img/wrBanner.png');
    background-size: 100% 100%;

}

@font-face {
    font-family: 'HYCuSong-J';
    src: url('../font/HYCuSong.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.banner .textcontainner {
    width: 1800px;
    margin: 0 auto;
    padding-top: 114px;
}

.banner .textcontainner .text1 {
    width: 740px;
    font-size: 66px;
    font-family: "HYCuSong-J";
    font-weight: normal;
    color: #966338;
    text-align: center;
    margin-bottom: 15px;
}

.banner .textcontainner .text2 {
    width: 740px;
    box-sizing: border-box;
    font-family: HYCuSong, HYCuSong;
    font-weight: normal;
    font-size: 26px;
    color: rgba(150, 99, 56, 0.6);
    text-align: center;
    font-style: normal;
    text-transform: none;
}
