.footer-container {
    background-color: #a0522d;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding:    0 10%;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255,0.3);
    padding-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.social-icons img {
    width: 30px;
    margin-top: 10px;
}

.footer-section.links ul, .footer-section.contact ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li, .footer-section.contact ul li {
    margin-bottom: 10px;
}

.footer-section.links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-section.contact ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.footer-section.contact ul li img {
    width: 15px;
    height: 20px;
    margin-right: 10px;
}

.newsletter-form {
    display: flex;
    margin-top: 10px;
}

.newsletter-form input {
    /* flex: 1; */
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.newsletter-form button {
    background-color: #d2b48c;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.newsletter-form button img {
    width: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }

    .footer-section.contact ul li {
        justify-content: center;
    }
}