* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  padding: 1px;
  background: #F5F5DC;
}

main .search {
  width: 1200px;
  margin: 0 auto;
  height: 88px;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px 0px rgba(224, 215, 195, 0.44);
  border-radius: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  padding: 20px 26px;
  gap: 30px;
  margin-top: 20px;
}

.search input {
  flex: 1;
  height: 48px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #EAEAEA;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #AAAAAA;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  background-position: 10px 50%;
  padding-left: 30px;
}

.search button {
  width: 109px;
  height: 48px;
  background: #8B5A2B;
  border-radius: 8px 8px 8px 8px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 21px;
  text-align: center;
  font-style: normal;
  text-transform: none;
  border: none;
}

.mainTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.typeBox {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}

.typeBox .type {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(227, 227, 173, 0.23);
  border-radius: 0px 0px 0px 0px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #464754;
  text-align: center;
  font-style: normal;
  text-transform: none;
}

h2 {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 30px;
  color: #8B5A2B;
  text-align: center;
  font-style: normal;
  text-transform: none;
}

h2 span {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 16px;
  color: #8B5A2B;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.diseaseBox {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  margin-bottom: 50px;
}

.diseaseBox .diseaseItem {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(232, 214, 179, 0.48);
  border-radius: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.diseaseBox .diseaseItem h3 {
  width: 100%;
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 20px;
  color: #8B4513;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 0 10px;
}

.diseaseBox .diseaseItem p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #888888;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
}

.diseaseBox .diseaseItem span {
  height: 24px;
  background: #F5F5DC;
  border-radius: 3px 3px 3px 3px;
  line-height: 24px;
  padding: 0px 5px;
  text-align: center;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #555555;
  line-height: 18px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 10px;
}

.diseaseBox .diseaseItem a {
  text-decoration: none;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #8B4513;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 0 10px;
  margin-bottom: 10px;
}

h3 {
  width: 1200px;
  margin: 30px auto;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #8B4513;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

h3 select {
  background-color: rgba(219, 209, 155, 0);
  height: 36px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #DBD19B;
  margin-left: 15px;
  padding: 0 5px;
}

h3 button {
  background-color: rgba(219, 209, 155, 0);
  height: 36px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #DBD19B;
  margin-left: 15px;
  padding: 0 5px;
}

h3 button.active {
  background-color: #8B4513;
  color: #FFFFFF;
}

.disease {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.disease .text {
  flex: 1;
}

.disease h4 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.disease h5 {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #888888;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.disease span {
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  background: #F5E9E9;
  border-radius: 34px 34px 34px 34px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #9E2A2B;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.bottom {
  background: linear-gradient(90deg, #9B2A35 0%, #5D4193 100%);
  border-radius: 0px 0px 0px 0px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.bottom h1 {
  text-align: center;
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 36px;
  color: #FFFFFF;
  font-style: normal;
  text-transform: none;
}

.bottom p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 27px;
  font-style: normal;
  text-transform: none;
}

.bottom input {
  width: 452px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  padding-left: 15px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #8E2F4A;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 10px;
  border: none;
}

.bottom input::placeholder {
  color: #8E2F4A;
}

.bottom button {
  width: 112px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 9px 9px 9px 9px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #8E2F4A;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
}

.page .el-pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.page .el-pagination .btn-prev,
.page .el-pagination .btn-next {
    background-color: #f5f5f5;
    border-radius: 4px;
    min-width: 35px;
    height: 35px;
}

.page .el-pagination .el-pager li {
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 5px;
}

.page .el-pagination .el-pager li.is-active {
    background-color: #8B5A2B;
    color: #fff;
    border-radius: 4px;
}

.page .el-pagination .el-pager li:hover {
    color: #8B5A2B;
}

.page .el-pagination .el-pagination__jump {
    color: #606266;
    background-color: rgba(246, 229, 193, 1);
    padding: 0 12px;
    margin-left: 10px;
}