<link rel="stylesheet" href="./css/footer.css">
<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-section about">
            <h4>中医信息网</h4>
            <p>汇聚全国顶尖中医药资源，传承中医文化，提供专业、可靠的中医药健康服务平台。</p>
            <div class="social-icons">
                <a href="#"><img src="./img/wechat.png" alt="WeChat"></a>
            </div>
        </div>
        <div class="footer-section links">
            <h4>快速链接</h4>
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">电商服务</a></li>
                <li><a href="#">工具中心</a></li>
                <li><a href="#">行业交流</a></li>
                <li><a href="#">职业发展</a></li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h4>联系我们</h4>
            <ul>
                <li><img src="./img/location.png" alt="Location"> 河南省郑州市金水区东风路</li>
                <li><img src="./img/phone.png" alt="Phone"> 400-123-4567</li>
                <li><img src="./img/email.png" alt="Email" style="width: 20px;"> contact@zhongyi.com</li>
            </ul>
        </div>
        <div class="footer-section newsletter">
            <h4>订阅资讯</h4>
            <p>订阅我们的 newsletter，获取最新中医资讯</p>
            <form class="newsletter-form">
                <input type="email" placeholder="您的邮箱地址">
                <button type="submit"><img src="./img/send.png" alt="Send"></button>
            </form>
        </div>
    </div>
</footer>