.banner {
    width: 100%;
    height: 952px;
    background-image: url('../img/banner.png');
    background-size: 100% 100%;
    padding: 1px;
}



.banner a {
    text-decoration: none;
    width: 155px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #165062;
    border-radius: 0px 0px 0px 0px;
    display: block;
    margin: 0px auto;
    margin-top: 522px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background-image: url('../img/arrow.png');
    background-position: 120px center;
    background-repeat: no-repeat;
}