* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100%;
  background: #f5f5dc;
  padding-top: 50px;
}
a {
  text-decoration: none;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #2E7D32;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-left: 35px;
  margin-bottom: 15px;
}
.mainContainer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
}
.mainContainer .left {
  width: 794px;
}
.mainContainer .left .hotTopic {
  background: #FFF1D5;
  box-shadow: 0px 4px 16px 0px #EAE0CC;
  border-radius: 0px 0px 0px 0px;
  padding-bottom: 5px;
}
.mainContainer .left .message {
  background: #FFFFFF;
  margin-top: 16px;
  border-radius: 0px 0px 0px 0px;
  padding: 23px 20px;
  padding-bottom: 0;
  display: flex;
}
.mainContainer .left .message img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
.mainContainer .left .message .messageInfo {
  flex: 1;
}
.mainContainer .left .message p {
  width: 100%;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #545D61;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 10px;
}
.mainContainer .left .message p span {
  display: inline-block;
  background: #EAF2EA;
  border-radius: 28px 28px 28px 28px;
  padding: 4px 12px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 10px;
  color: #458A48;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .left .message p span.time {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #B4B9C2;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  float: right;
}
.mainContainer .left .message p span.tag {
  background: #F5F5DC;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 5px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #555555;
}
.mainContainer .left .message p img {
  width: auto;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
}
.mainContainer .left .message .title {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 16px;
  color: #263238;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 11px 0;
}
.mainContainer .left .reback {
  padding: 20px 35px;
  display: flex;
}
.mainContainer .left .reback img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.mainContainer .left .reback .rebackInfo {
  padding: 8px 10px;
  background: #F2DDB4;
  border-radius: 7px 7px 7px 7px;
  opacity: 0.4;
}
.mainContainer .left .reback .rebackInfo .name {
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 14px;
  color: #8D6718;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .left .reback .rebackInfo p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #885e04;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .left h1 {
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 32px;
  color: #9E2A2B;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin: 20px 0;
}
.mainContainer .left h1 img {
  margin-right: 5px;
}
.mainContainer .left h1 span {
  display: block;
  height: 32px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #3B853F;
  padding: 5px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 14px;
  color: #3B853F;
  text-align: center;
  font-style: normal;
  text-transform: none;
  float: right;
  margin-left: 15px;
}
.mainContainer .left h1 span.active {
  background: #3B853F;
  color: #FFFFFF;
}
.mainContainer .left h1 a {
  float: right;
  margin-top: 30px;
}
.mainContainer .left .messageContainer {
  flex: 1;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(235, 232, 210, 0.57);
  padding-bottom: 35px;
}
.mainContainer .left .messageContainer .message {
  margin: 0;
  padding: 25px;
  border-top: 1px solid #EAEAEA;
  padding-top: 40px;
}
.mainContainer .left .page {
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
}
.mainContainer .left .page span {
  margin: 0px 5px;
  display: inline-block;
  width: 38px;
  height: 40px;
  line-height: 38px;
  border-radius: 0px 0px 0px 0px;
  border: 1px solid #2E7D32;
  border-radius: 50%;
}
.mainContainer .left .page span.active {
  background: #2E7D32;
  color: #fff;
}
.mainContainer .right {
  display: flex;
  flex-direction: column;
}
.mainContainer .right .share {
  background: #3B853F;
  box-shadow: 0px 4px 16px 0px rgba(234, 224, 204, 0.5);
  border-radius: 0px 0px 0px 0px;
  padding: 20px 34px;
}
.mainContainer .right .share h1 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 22px;
  color: #FFFFFF;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}
.mainContainer .right .share h2 {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 27px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-top: 10px;
}
.mainContainer .right .share button {
  margin-top: 15px;
  width: 100%;
  height: 52px;
  background: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #418844;
  line-height: 24px;
  font-style: normal;
  text-transform: none;
  margin-bottom: 5px;
}
.mainContainer .right .list {
  margin-top: 15px;
  padding: 17px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(234, 224, 204, 0.5);
  border-radius: 0px 0px 0px 0px;
}
.mainContainer .right .list h1 {
  font-family: PingFang SC,
                PingFang SC;
  font-weight: bold;
  font-size: 22px;
  color: #333333;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .right .list h1 img {
  width: 28px;
  height: 22px;
  vertical-align: middle;
  margin-right: 10px;
}
.mainContainer .right .list .patient {
  display: flex;
  margin-top: 27px;
  justify-content: space-between;
}
.mainContainer .right .list .patient img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
.mainContainer .right .list .patient .patientInfo {
  flex: 1;
  float: left;
}
.mainContainer .right .list .patient .patientInfo .name {
  font-weight: 500;
  font-size: 16px;
  color: #263238;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .right .list .patient .patientInfo p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .right .list .patient button {
  height: 32px;
  padding: 0 15px;
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #3B853F;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 14px;
  color: #3B853F;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
.mainContainer .right .list .patient button.active {
  background-color: #3B853F;
  color: #FFFFFF;
}
.mainContainer .right .list a {
  width: 100px;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 43px;
}
.mainContainer .right .bottom {
  flex: 1;
  margin-top: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(234, 224, 204, 0.5);
  border-radius: 0px 0px 0px 0px;
  padding-bottom: 10px;
}
.mainContainer .right .bottom h1 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 20px;
  color: #8E653F;
  padding: 10px;
  border-bottom: 1px solid #EAF2EA;
}
.mainContainer .right .bottom .actity {
  padding: 10px;
  position: relative;
}
.mainContainer .right .bottom .actity > img {
  width: 100%;
}
.mainContainer .right .bottom .actity .text {
  position: absolute;
  bottom: 40px;
  left: 30px;
}
.mainContainer .right .bottom .actity .text h2 {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
.mainContainer .right .bottom .actity .text h3 {
  margin-top: 10px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.mainContainer .right .bottom .actity .text h3 img {
  vertical-align: middle;
  margin-right: 5px;
}
.mainContainer .right .bottom a {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.bottomContainer {
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}
.bottomContainer h1 {
  font-family: HYCuSong, HYCuSong;
  font-weight: normal;
  font-size: 30px;
  color: #784A1D;
}
.bottomContainer .boardBox {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.bottomContainer .boardBox .board {
  flex: 1;
}
.bottomContainer .boardBox .board .img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.bottomContainer .boardBox .board .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.bottomContainer .boardBox .board .img h2 {
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  z-index: 1;
}
.bottomContainer .boardBox .board .img h3 {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 1;
}
.bottomContainer .boardBox .board .text {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(235, 228, 213, 0.46);
  padding: 15px;
}
.bottomContainer .boardBox .board .text p {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.bottomContainer .boardBox .board .text p span {
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 12px;
  color: #777777;
}
.bottomContainer .boardBox .board .text p span img {
  margin-right: 5px;
}
.bottomContainer .boardBox .board .text p a {
  font-size: 14px;
  color: #8E653F;
}
