<link rel="stylesheet" href="./css/nav.css" />
<header>
    <div class="nav">
        <div class="logo">
            <img src="./img/nav-logo1.png" alt="" />
        </div>
        <ul class="nav-list">
            <li class="active"><router-link to="/"> 网站首页</router-link></li>
            <img src="./img/nav-Line 589.png" alt="" />
            <!-- <li>
          从业者赋能
          <div class="arow"></div>
          <ul class="submenu">
            <router-link to="/educationing">
              <li>继续教育</li>
            </router-link>
            <router-link to="/learnResource">
              <li>学术资源</li>
            </router-link>
            <router-link to="/industryExchange">
              <li>行业交流</li>
            </router-link>
            <router-link to="/toolCenter">
              <li>工具中心</li>
            </router-link>
          </ul>
        </li> -->
            <!-- <img src="./img/Line 589.png" alt="" /> -->
            <li>
                全民知识库
                <div class="arow"></div>
                <ul class="submenu">
                    <a href="/basicTheory">
                        <li>中医易学堂</li>
                    </a>
                    <a href="/classicPrescription">
                        <li>经典方剂</li>
                    </a>
                    <a href="/zhongChengYao">
                        <li>中成药指南</li>
                    </a>
                </ul>
            </li>
            <img src="./img/nav-Line 589.png" alt="" />
            <li>
                特色疗法
                <div class="arow"></div>
                <ul class="submenu">
                    <a href="/specialTherapy">
                        <li>特色疗法</li>
                    </a>
                    <a href="/classicStudy">
                        <li>经典研读</li>
                    </a>
                    <!-- <a href="/diagnosis">
              <li>中医诊断</li>
            </a> -->
                    <a href="/diseaseWiki">
                        <li>疾病百科</li>
                    </a>
                </ul>
            </li>
            <img src="./img/nav-Line 589.png" alt="" />
            <li>
                养生保健
                <div class="arow"></div>
                <ul class="submenu">
                    <!-- <router-link to="/seasonalHealth">
              <li>四季养生</li>
            </router-link>
            <router-link to="/bodyHealth">
              <li>体质养生</li>
            </router-link>
            <router-link to="/populationHealth">
              <li>人群养生</li>
            </router-link> -->
                    <a href="/medicalFood">
                        <li>药膳食疗</li>
                    </a>
                    <a href="/physicalGuidance">
                        <li>运动引导</li>
                    </a>
                    <a href="/emotionalregulation">
                        <li>情志调摄</li>
                    </a>
                    <!-- <a href="/healthColumn">
              <li>养生专栏</li>
            </a> -->
                </ul>
            </li>
            <img src="./img/nav-Line 589.png" alt="" />
            <li>
                技术创新
                <div class="arow"></div>
                <ul class="submenu">
                    <a href="/aiHelpUse">
                        <li>AI辅助应用</li>
                    </a>
                    <a href="/webMedical">
                        <li>电商服务</li>
                    </a>
                    <a href="/smartHardware">
                        <li>智能硬件</li>
                    </a>
                    <a href="/numberSource">
                        <li>知识数据库</li>
                    </a>
                </ul>
            </li>
            <img src="./img/nav-Line 589.png" alt="" />
            <li>
                便民服务
                <div class="arow"></div>
                <ul class="submenu">
                    <a href="">
                        <li>名馆名养</li>
                    </a>
                     <a href="/doctorColumn">
                        <li>名医专栏</li>
                    </a>
                    <a href="/careerDevelopment">
                        <li>职业培训</li>
                    </a>
                    <a href="/herbalEncyclopedia">
                        <li>药材百科</li>
                    </a>
                    <a href="/specialNavigation">
                        <li>偏方妙治</li>
                    </a>
                    <a href="">
                        <li>继续教育</li>
                    </a>
                    <!-- <a href="/intelligentDiagnosis">
              <li>智能导诊</li>
            </a>
            <a href="/medicinePrice">
              <li>药材价格查询</li>
            </a> -->
                </ul>
            </li>
            <img src="./img/nav-Line 589.png" alt="" />
            <li>
                交流专区
                <div class="arow"></div>
                <ul class="submenu">
                    <a href="/paitentCc">
                        <li>问答广场</li>
                    </a>
                    <a href="/actiety">
                        <li>活动发布与报名</li>
                    </a>
                    <a href="/expertLive">
                        <li>专家直播</li>
                    </a>
                    <a href="/healthCheck">
                        <li>养生打卡</li>
                    </a>
                </ul>
            </li>
        </ul>
        <div class="search">
            <img src="./img/nav-search.png" alt="" />
        </div>
        <div class="text">
            <div class="up">
                <img src="./img/nav-image.png" class="imgHead" alt="头像" />
                <span>中医信息网</span>
                <img src="./img/nav-down.png" alt="箭头" />
            </div>
            <div class="down">
                <img src="./img/nav-address.png" alt="地址" />
                <span id="address"></span>
                <img src="./img/nav-rf.png" alt="" />
            </div>
        </div>
    </div>
</header>
<script src="./nav.js"></script>