.banner {
    width: 100%;
    height: 562px;
    background-image: url('../img/banner.png');
    background-size: 100% 100%;
    padding: 1px;
}

@font-face {
    font-family: YouSheBiaoTiHei;
    src: url('../font/YouSheBiaoTiHeiTi-2.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.banner h1 {
    width: 800px;
    margin: 0px auto;
    margin-top: 110px;
    font-family: YouSheBiaoTiHei;
    font-weight: 400;
    font-size: 97px;
    color: #236E08;
}

.banner .text1 {
    width: 800px;
    margin: 0px auto;
    margin-bottom: 50px;
    display: flex;
    transform: skewX(-15deg);
}

.banner .text1 .left {
    background: #FFFFFF;
    color: #217100;
    padding: 3px;
}

.banner .text1 .right {
    background: #217100;
    color: #FFFFFF;
    padding: 3px;
}

.banner .text2 {
    width: 800px;
    margin: 0px auto;
    margin-bottom: 50px;
    display: flex;

}

.banner .text2 div {
    height: 46px;
    line-height: 46px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: PingFang SC, PingFang SC;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background: #8B4513;
    letter-spacing: 8px;
}
