* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: relative;
}
main {
  width: 100%;
  height: 100%;
  background-color: #FFFCF6;
}
main .message {
  position: relative;
  width: 100%;
  background-size: 100% 100%;
}
main .message_1 {
  height: 525px;
}
main .message1 {
  background-image: url(img/1.png);
  background-size: 100% 100%;
}
main .message_2 {
  height: 1371px;
}
main .message_3 {
  height: 700px;
}
main .message .title {
  display: flex;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}
main .message .title span {
  font-size: 34px;
  color: #1a3d2e;
  margin: 0 5px;
}
main .message .title img {
  width: 67px;
  height: 47px;
}
main .message .title::after {
  content: "";
  width: 67px;
  height: 2px;
  position: absolute;
  background-color: #1a3d2e;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
}
main .message .smallTitle {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
main .message .smallTitle span {
  font-size: 12px;
  color: #b4a580;
  margin: 0 5px;
}
main .message .messageContent {
  position: relative;
  top: 200px;
  width: 1200px;
  margin: 0 auto;
}
main .message .messageContent span.more {
  margin: 0 auto;
  display: block;
  width: 142px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-image: url(../img/ei_img/Subtract.png);
}
main .message .messageContent1 {
  display: flex;
}
main .message .messageContent1 > div {
  flex: 1;
  background-color: #FFFFFF;
  margin: 0 10px;
  padding: 44px 25px;
}
main .message .messageContent1 > div > span {
  width: 336px;
  height: 36px;
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 26px;
  color: #3E2723;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 12px;
}
main .message .messageContent1 > div > p {
  margin-top: 12px;
  font-size: 16px;
  color: #999999;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
main .message .messageContent2 .btnBox {
  display: block;
  width: 698px;
  height: 45px;
  margin: 0 auto;
}
main .message .messageContent2 .btnBox button {
  width: 126px;
  height: 45px;
  background: #e6c9ac;
  border-radius: 51px 51px 51px 51px;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  margin: 0 5px;
}
main .message .messageContent2 .btnBox button.active {
  background-color: #8b5a2b;
}
main .message .messageContent2 .contentBox {
  margin-top: 62px;
  margin-bottom: 86px;
  width: 1200px;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 21px;
}
main .message .messageContent2 .contentBox > div {
  width: 386px;
  height: 418px;
  background-color: #FFFFFF;
}
main .message .messageContent2 .contentBox > div > span {
  margin-left: 25px;
  font-size: 14px;
  color: #777777;
  line-height: 21px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
main .message .messageContent2 .contentBox > div > span > img {
  margin-right: 5px;
}
main .message .messageContent2 .contentBox > div > div {
  margin: 11px 0;
  margin-left: 25px;
  height: 28px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 20px;
  color: #8B5A2B;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
main .message .messageContent2 .contentBox > div > p {
  margin-left: 25px;
  width: 351px;
  height: 48px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
main .message .messageContent2 .contentBox > div .avater {
  width: 400px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  display: flex;
}
main .message .messageContent2 .contentBox > div .avater img.one {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 5px;
}
main .message .messageContent2 .contentBox > div .avater span {
  margin-right: 206px;
}
main .message .messageContent3 {
  height: 419px;
  display: flex;
}
main .message .messageContent3 div {
  width: 561px;
  height: 100%;
}
main .message .messageContent3 div.right {
  background-image: url("../img/ei_img/3-1.png");
  position: relative;
}
main .message .messageContent3 div.right > div {
  position: relative;
}
main .message .messageContent3 div.right > div .text {
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  padding: 20px 14px;
  box-shadow: 0px 4px 18px 0px rgba(224, 218, 205, 0.5);
  border-radius: 8px 8px 8px 8px;
  position: absolute;
  top: 337px;
  left: 291px;
}
main .message .messageContent3 div.right > div .text img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 7px;
}
main .message .messageContent3 div.right > div .text span {
  height: 40px;
  line-height: 40px;
}
main .message .messageContent3 div.right > div .text p {
  font-size: 14px;
  color: #6E817F;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
main .message .messageContent3 div.left > div {
  width: 521px;
  height: 84px;
  display: flex;
  margin-top: 16px;
}
main .message .messageContent3 div.left > div div.img {
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}
main .message .messageContent3 div.left > div img {
  width: 60px;
  height: 60px;
}
main .message .messageContent3 div.left > div span {
  font-weight: bold;
  font-size: 20px;
  color: #8B5A2B;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 16px;
}
main .message .messageContent3 div.left > div p {
  font-weight: 400;
  font-size: 16px;
  color: hsl(165, 9%, 54%);
  line-height: 24px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
